.container {
    padding: 24px;
    margin-bottom: 16px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

mat-card {
    cursor: pointer;
}

mat-card:hover {
    background-color: #f5f5f5;
}


.logo {
    object-fit: contain;
    height: 180px;
    width: 100%;
    padding: 10px;
    display: block;
    margin: 0 auto;
  }


  mat-card-header {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

mat-card-content {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

mat-card-title {
    font-family: "Noto Sans JP", sans-serif;
}

.rounded-input .mat-form-field-outline {
    border-radius: 15px; /* Cambia este valor según tus necesidades */
  }

mat-card-actions {
    margin-top: auto;
    padding: 10px;
    justify-content: left;
}

.no-results {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    color: black;
}

.search-container {
    margin: 20px auto;
    max-width: 320px;
    background-color: snow;
}
  
mat-form-field {
    width: 100%;
  }



  
  .paginator-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }
  

  @media (max-width: 768px) { /* Ajuste para pantallas móviles */
    .paginator-container {
      justify-content: center; /* Centrar en pantallas pequeñas */
      padding-left: 0; /* Elimina cualquier padding que pueda estar afectando */
      padding-right: 0; /* Elimina cualquier padding que pueda estar afectando */
    }
  }