<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Search clubs</mat-label>
    <input matInput (keyup)="onSearch($event)" placeholder="Search by name, city, or country">
        <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div *ngIf="noResults" class="no-results">
  <p>No clubs found matching your search criteria.</p>
</div>


<div *ngIf="filteredClubs.length > 0" class="actions">
  <mat-checkbox (change)="toggleTeams($event.checked)">
    View National Teams
  </mat-checkbox>
</div>

<div class="container responsive-grid">
  <mat-card class="club-card" appearance="outlined" *ngFor="let club of pagedClubs" (click)="openClubDetailModal(club)">
    <img mat-card-image [src]="club.logo_url" alt="club_logo" class="logo">
    <mat-card-header>
      <mat-card-title class="title">{{club.name}}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<div *ngIf="filteredClubs.length > 0" class="paginator-container">
  <mat-paginator [length]="filteredClubs.length" [pageSize]="30" (page)="onPageChange($event)">
  </mat-paginator>
</div>
