.container {
    padding: 24px;
    margin-bottom: 16px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}


mat-card {
    cursor: pointer;
}

mat-card:hover {
    background-color: #f5f5f5;
}


.logo {
    object-fit: contain;
    height: 180px;
    width: 100%;
    padding: 10px;
    display: block;
    margin: 0 auto;
  }


  mat-card-header {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

mat-card-content {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

mat-card-actions {
    margin-top: auto;
    padding: 10px;
    justify-content: left;
}

.no-results {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    color: black;
}

.search-container {
    margin: 20px auto;
    max-width: 280px;
    background-color: snow;
}
  
mat-form-field {
    width: 100%;
  }

  
  .paginator-container {
    display: flex;
    justify-content: left; 
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  